$primary-font: Kollektif;
$secondary-font: Montserrat;
$font-color: #A9AAAC;
$font-color-light: #F9F9F9;
$background-color: #0D0D0F;
$header-height: 60px;
$menu-transition-time: 0.4s;
$font-size-head: 48px;
$font-size-para: 24px;
$side-padding: 7%;
$page-heading: 64px;

// --------------------576px--------------------
$header-height-mob: 11.3vw;
$side-padding-mob: 6%;
$font-size-head-mob: 9.5vw;
$font-size-para-mob: 5vw;
$page-heading-mob: 11.3vw;

// -----------------577 - 768 px-----------------
$header-height-768: 7.5vw;
$side-padding-768: 6%;
$font-size-head-768: 6.2vw;
$font-size-para-768: 3.1vw;
$page-heading-768: 8.3vw;

// -----------------769 - 992 px-----------------
$header-height-992: 6.2vw;
$side-padding-992: 40px;
$font-size-head-992: 4.7vw;
$font-size-para-992: 2.4vw;
$page-heading-992: 6.3vw;

// -----------------993 - 1200 px-----------------
$header-height-1200: 4.5vw;
$font-size-head-1200: 3.7vw;
$font-size-para-1200: 1.8vw;
$page-heading-1200: 5.3vw;

// -----------------1201 - 1500 px-----------------
$page-heading-1500: 4.2vw;
$font-size-head-1500: 3.2vw;
$font-size-para-1500: 1.6vw;